/* 	Author: Barbara Bugalska
		Assignment: WI.2.HTML Assignment, Digital Skills Academy		
		Student ID: D14126227
		Date: 2015/04/19
		

*/

//footer
footer{

	background-color: #eee;
	margin-top: 15px;
	padding: 30px 0;
	border-color: black;
	
	

	p{
		text-align: center;
		float: none;
		padding: 5px 0 5px 0;
		font-size: 12px;
		color: black;
		
	}
	
	a{
			text-decoration: none;
			color: #632e3b;
		}	
	
}
.logo_second1{
		text-align: center;
		padding-bottom: 15px;
	
		
	}
	